# Node.js dependencies
/npe-ui/node_modules/
/nodejsserver/node_modules/

# Build artifacts
/npe-ui/build/
/npe-ui/dist/
/nodejsserver/build/
/nodejsserver/dist/

# Environment variables
.env
/npe-ui/.env
/nodejsserver/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/nodejsserver/logs/

# Editor and OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Test output / coverage
/coverage

# Optional if using Jest
/jest-test-results.json

# GitHub Actions artifacts
.github/